<html ng-app="angular-validator-demo">
<head>
    <title>Angular-Validator Demo</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        h4 {color:  rgb(255, 128, 0);}
    </style>
</head>

<body ng-controller="DemoCtrl">
    <div class="container">
        <h1>Angular-Validator Demo</h1>
        <a href="https://github.com/turinggroup/angular-validator">https://github.com/turinggroup/angular-validator</a>
        <hr>
        <form angular-validator-submit="submitMyForm()" name="myForm" class="form-horizontal" novalidate angular-validator>
            <h4>Choose when to validate:</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">On dirty validation</label>
                <div class="col-sm-10">
                    <input  type = "text"
                        name = "dirty"
                        validate-on="dirty"
                        class = "form-control"
                        ng-model = "form.dirty"
                        ng-pattern="/regex/"
                        invalid-message="'You must enter the word `regex`'"
                        required-message="'Yo! This field is required..'"
                        required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">On blur validation</label>
                <div class="col-sm-10">
                    <input  type = "text"
                        name = "blur"
                        validate-on="blur"
                        class = "form-control"
                        ng-model = "form.blur"
                        ng-pattern="/regex/"
                        invalid-message="'You must enter the word `regex`'"
                        required-message="'Yo! This field is required..'"
                        required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">On submit validation</label>
                <div class="col-sm-10">
                    <input  type = "text"
                        name = "sub"
                        class = "form-control"
                        ng-model = "form.sub"
                        ng-pattern="/regex/"
                        invalid-message="'You must enter the word `regex`'"
                        required-message="'Yo! This field is required..'"
                        required></div>
            </div>

            <hr>
            <h4>Different types of validation:</h4>

            <div class="form-group">
                <label class="col-sm-2 control-label">Custom validation Function</label>
                <div class="col-sm-10">
                    <input  type = "text"
                            name = "firstName"
                            class = "form-control"
                            ng-model = "form.firstName"
                            validator = "myCustomValidator(form.firstName)"
                            validate-on="dirty"
                            required></div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input  type = "email"
                            name = "emailAddress"
                            class = "form-control"
                            ng-model = "form.emailAddress"
                            invalid-message="'Thats not a real email address'"
                            required-message="'Yo this is required'"
                            validate-on="dirty"
                            required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Regex</label>
                <div class="col-sm-10">
                    <input  type = "text"
                            name = "regex"
                            class = "form-control"
                            ng-model = "form.regex"
                            ng-pattern="/regex/"
                            invalid-message="'You must enter the word `regex`'"
                            required-message="'Yo! This field is required..'"
                            validate-on="dirty"
                            required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Custom message Function</label>
                <div class="col-sm-10">
                    <input  type = "text"
                            name = "myField"
                            class = "form-control"
                            ng-model = "form.myField"
                            validator = "anotherCustomValidator(form.myField) === true"
                            invalid-message = "anotherCustomValidator(form.myField)"
                            validate-on="dirty"
                            required></div>
            </div>
            <hr>

            <h4>Password validation and password matching example</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input  type = "password"
                            name = "password"
                            class = "form-control"
                            ng-model = "form.password"
                            validator = "passwordValidator(form.password) === true"
                            invalid-message = "passwordValidator(form.password)"
                            validate-on="dirty"
                            required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input  type = "password"
                            name = "confirmPassword"
                            class = "form-control"
                            ng-model = "form.confirmPassword"
                            validator = "form.password === form.confirmPassword"
                            validate-on="dirty"
                            invalid-message = "'Passwords do not match!'"
                            required></div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="myForm.reset()" class="btn btn-primary">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>


        <form angular-validator-submit="submitMyForm()" name="myForm2" class="form-horizontal" novalidate angular-validator invalid-message="customMessage">
            <h4>Form invalid message:</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">Max length</label>
                <div class="col-sm-10">
                    <input  type="text"
                            name="firstName"
                            class="form-control"
                            validate-on="dirty"
                            ng-model="form2.firstName"
                            ng-maxlength="5"
                            required></div>
            </div>
            <hr>
            <h4>Field invalid message hides form invalid message</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">Form vs Field</label>
                <div class="col-sm-10">
                    <input  type="text"
                            name="lastName"
                            class="form-control"
                            validate-on="dirty"
                            ng-model="form2.lastName"
                            ng-maxlength="6"
                            invalid-message="'Too long!'"
                            required></div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="myForm2.reset()" class="btn btn-primary">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

        <hr>
        <h4> <u>Scope Sneak Peak</u>
        </h4>
        <p>Form valid: {{myForm.$valid}}</p>
        <p>First Name valid: {{myForm.firstName.$valid}}</p>
        <p>Email Valid: {{myForm.emailAddress.$valid}}</p>
        <p>Password Valid: {{myForm.password.$valid}}  {{form.password}}</p>
        <p>Regex Valid: {{myForm.regex.$valid}}</p>
        <p>Form submitted: {{myForm.submitted}}</p>

    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>    <script src="app.js"></script>
    <script src="app.js"></script>
    <script src="../dist/angular-validator.js"></script>
</body>
</html>